* {
  padding: 0%;
  margin: 0%;
}

body {
  /* background-color: rgb(229, 229, 229); */
}

.header {
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}

.header-text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}

.side-bar {
  display: none;
}
/* videoBackground */

.video-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

#bgVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#toggleBtn {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  border: 2px solid white;
  backdrop-filter: blur(5px); /* Modern 2025 glassmorphism effect */
}


/* faq */
.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.faq-header-text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
}
.questions-answers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px;
}
.questions {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-between;
  width: 100%;
  background-color: aliceblue;
  padding: 10px;
  border-radius: 10px;
}
.answers-button {
  border: none;
  background-color: transparent;

}
.answers {
  font-family: Arial, Helvetica, sans-serif;
}
