@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hanuman:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0%;
  margin: 0%;
}

/* header */


.header {
  height: 50px;
  background-color: transparent;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  background: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  position: fixed;
  z-index: 10;
}

.header-text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.bars {
  font-size: 25px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  font-family: "Bebas Neue";
  transform: scalex(1.2);
}

/* sidebar */

.side-bar {
  backdrop-filter: blur(3px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 20;
  position: fixed;
  width: 30%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.8);
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.4);
}

.hide {
  display: none;
}

.side-header {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.side-content {
  padding: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.side-footer-text {
  padding: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.side-bar-xbtn {
  background-color: transparent;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 5;
  cursor: pointer;
  backdrop-filter: blur(3px);
}
/* videoBackground */

.video-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.background {
  z-index: -1;
}

.perv-next-btn {
  display: flex;
  gap: 20px;
}

#bgVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.toggleBtn {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  background-color: transparent;
  border-radius: 10%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
}

.btn-hide {
  display: none;
}

.video-bttn {
  display: flex;
  justify-content: space-around;
}

/* newYearCounter */

.counter-new-year {
  display: flex;
  flex-direction: column;
  height: 400px;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.counter-new-year h1 {
  font-family: "Bebas Neue";
  font-size: 70px;
  letter-spacing: 5px;
  transform: scaleY(1.2);
  font-weight: 600;
  color: rgba(255, 255, 255, 0.6);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.all-countdown-boxes {
  display: flex;
  gap: 50px;
}

.countdown-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countdown-box p {
  font-family: "Bebas Neue";
  font-size: 20px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.num-counter {
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 100px;
  font-weight: 550;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

/* faq */
.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq-header-text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.questions-answers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px;
}

.questions {
  background: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-between;
  width: 80%;
  background-color: transparent;
  padding: 10px;
  border-radius: 10px;
}

.answers-button {
  border: none;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.answers {
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 2px 2px 2px black;
}

#sideBar {
  transition: all 0.25s ease-in-out;
  transform: translateX(-100%);
}

#header {
  transition: all 0.2s ease-in-out;
}
